################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aplicacao1/bin/Debug
/Aplicacao1/obj/Debug
/.vs/Aplicacao1/v15/Server/sqlite3
